body {
    text-align: center;
}

h1 {
    background-color: palegreen;
    margin: 1em;
    padding: 0.5em;
}

.content {
    /*background-color: lightgoldenrodyellow;*/
    margin: 1em;
    padding: 0.5em;
}

nav {
    background-color: lightpink;
    margin: 1em;
    padding: 0.5em;
    font-size: 28px;
}