/* 
FG: 393e41
BG: e7e5df
Text BG: d3d0cb
HL1: 44bba4
HL2: e7bb41
*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    background-color: white;
    font-weight: bold;
}

a:link {
    color: #44bba4
}

a:visited {
    color: #e7bb41
}

body {
    color: #393e41;
    text-align: center;
    margin: 0;
}

.dark-block {
    background-color: #f7f5ef;
    text-align: center;
    padding: 1.5em;
}

.light-block {
    background-color: #fefefe;
    padding: 1.5em;
}

#bio {
    max-width: 30em;
    margin: 0 auto;
}

nav {
    font-size: 1.5em;
    max-width: 15em;
    margin: 0.5em auto;
    justify-content: space-between;
}

#profile {
    max-width: 15em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 50%;
}

h1 {
    font-size: 2.6em;
    margin: 0;
}

h2 {
    font-size: 2.2em;
    margin-top: 0;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.project {
    max-width: 50em;
    margin: 0 auto 1em auto;
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.thumbnail {
    max-width: 15em;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
}

.thumbnail-image {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.description {
    flex: 1;
}